﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sharp Leads</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/angularMaterialCss")
    @Html.Partial("_GoogleAnalytics")

    <meta name="description" content="Sharp Leads" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/Content/img/fav/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/img/fav/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/img/fav/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/img/fav/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="~/Content/img/fav/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="~/Content/img/fav/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="~/Content/img/fav/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="~/Content/img/fav/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="~/Content/img/fav/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="~/Content/img/fav/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="~/Content/img/fav/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="~/Content/img/fav/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="~/Content/img/fav/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="~/Content/img/fav/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="~/Content/img/fav/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="~/Content/img/fav/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="~/Content/img/fav/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="~/Content/img/fav/mstile-310x310.png" />

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
</head>
<body onload="myFunction()" style="margin:0;">
    <div id="loader"></div>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="topHeader">
                    <div class="logo">
                        <img src="~/Content/img/logo.png" />
                    </div>
                </div>
            </div>
            <div class="navbar-collapse collapse right">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>*@
    <div style="" id="myDiv" class="animated fadeIn">
        @RenderBody()
        <footer>
            @*<p>&copy; @DateTime.Now.Year</p>*@
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
