﻿@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/angular-material/angular-material.css" rel="stylesheet" type="text/css" />
<link href="~/Scripts/Toaster/toaster.css" rel="stylesheet" />

@* Header section *@
<div ng-app="prelaunchApp">
    <div ng-controller="prelaunCtrl" ng-cloak>
        <toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
        <div class="row">
            <section id="header">
                <div style="width: 100%">
                    <div class="image animated bounceInDown">
                        <img src="~/Content/img/SharpLeadsLogo2.png" />
                        <h2><strong>Grow</strong> your business</h2>
                        <h3>with efficient leads management</h3>
                        <h4>Be the first to try the demo</h4>
                        <div class="animated flash infinite">
                            <i class="fa fa-chevron-down"></i>
                        </div>
                        <form name="form" novalidate>
                            <div class="inputs animated fadeIn">
                                <div class="input-group">
                                    <input ng-model="subDomain" 
                                           name="SubDomain" 
                                           id="SubDomain" 
                                           type="text"
                                           placeholder="Domain name"
                                           aria-describedby="basic-addon1" 
                                           required ng-unique>
                                </div>

                                <span id="errors" ng-show="form.SubDomain.$touched && form.SubDomain.$invalid">
                                    <span ng-show="form.SubDomain.$error.required">Required!  </span>
                                    <span ng-show="form.SubDomain.$error.unique">Domain Name already exists.</span>
                                </span>

                                <div class="input-group">
                                    <input ng-model="email"
                                           name="email"
                                           type="email"
                                           placeholder="Email"
                                           aria-describedby="basic-addon1"
                                          required ng-unique-Email>
                                </div>
                                <span id="errors" ng-show="form.email.$touched && form.email.$invalid">
                                    <span ng-show="form.email.$error.required">Required!  </span>
                                    <span ng-show="form.email.$error.uniqueEmail">Email already exists.</span>
                                </span>
                                <span id="errors" ng-show="form.email.$touched && form.email.$error.email">
                                    Not valid email!
                                </span>
                                <div class="input-group">
                                    <md-button type="button" class="md-raised md-primary" ng-click="addPrelaunch();form.$setPristine();form.$setUntouched();" ng-disabled="form.$invalid">Submit</md-button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </section>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/angularJS")
    @Scripts.Render("~/bundles/angularMaterialJS")

    <script type="text/javascript" src="~/Scripts/Application/Prelaunch/module.js"></script>
    <script type="text/javascript" src="~/Scripts/Application/Prelaunch/service.js"></script>
    <script type="text/javascript" src="~/Scripts/Application/Prelaunch/controller.js"></script>
    <script type="text/javascript" src="~/Scripts/Application/Prelaunch/directive.js"></script>
    <script type="text/javascript" src="~/Scripts/Toaster/toaster.js"></script>
}