﻿@model Cogir.Web.Models.ApplicationUser

@{
    ViewBag.Title = "Effacer";
}

<h2>Effacer</h2>

<h3>Êtes-vous sûr de vouloir supprimer cet utilisateur?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Effacer" class="btn btn-primary" /> |
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>
