﻿@model Cogir.Web.Models.ApplicationUser
@using Cogir.Web.ViewModel.User;
@{
    ViewBag.Title = "Détails";
}

<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 style="color:white">Utilisateur </h3>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="col-md-7">
                <div>
                    <p><b>@Html.DisplayNameFor(model => model.UserName) : </b> @Html.DisplayFor(model => model.UserName)</p>
                    <br />
                    <p><b>Prénom : </b> @ViewBag.FirstName</p>
                    <br />
                    <p><b>Nom : </b> @ViewBag.LastName</p>
                    <br />
                    <p><b>Nom de domaine : </b> @ViewBag.DomainName</p>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 style="color:white">Liste des rôles pour cet utilisateur </h3>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="col-md-10">
                @if (ViewBag.RoleNames.Count == 0)
                {
                    <hr />
                    <p>Ce utilisateur n'a aucun rôle.</p>
                }
                <table class="table">
                    @foreach (var item in ViewBag.RoleNames)
                    {
                        <tr>
                            <td>
                                @item
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
@* user propertires panel*@
<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 style="color:white">Propriétes </h3>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="col-md-10">
                <p>
                    <a href="#CreateUserProperty" data-toggle="modal">
                        <i class="fa fa-plus-circle fa-3x"></i>
                    </a>
                </p>
                <br />
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <i> Propriété</i>
                                </th>

                                <th><i>Actions</i></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.UserProperties)
                            {
                                <tr>
                                    <td>
                                        @item.PropertyName
                                    </td>
                                    <td>
                                        @Html.ActionLink("Supprimer", "RemoveProperty", new { userId = item.IdUser, propertyId = item.IdProperty })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
@Html.Partial("_CreateUserProperty", new CreateUserPropertyViewModel() { IdUser = Model.Id })

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}


