﻿@model IEnumerable<Cogir.Web.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h2>Utilisateurs</h2>

<p>
    @Html.ActionLink("Nouveau", "Create")
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>
            Email
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.ActionLink("Modifier", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Effacer", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
