﻿@import 'https://fonts.googleapis.com/css?family=Poppins:400,600,700';
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Open-Sans-regular/Open-Sans-regular.eot");
  src: url("/fonts/Open-Sans-regular/Open-Sans-regular.eot?#iefix") format("embedded-opentype"), local("Open Sans"), local("Open-Sans-regular"), url("/fonts/Open-Sans-regular/Open-Sans-regular.woff2") format("woff2"), url("/fonts/Open-Sans-regular/Open-Sans-regular.woff") format("woff"), url("/fonts/Open-Sans-regular/Open-Sans-regular.ttf") format("truetype"), url("/fonts/Open-Sans-regular/Open-Sans-regular.svg#OpenSans") format("svg"); }

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/Open-Sans-600/Open-Sans-600.eot");
  src: url("/fonts/Open-Sans-600/Open-Sans-600.eot?#iefix") format("embedded-opentype"), local("Open Sans Semibold"), local("Open-Sans-600"), url("/fonts/Open-Sans-600/Open-Sans-600.woff2") format("woff2"), url("/fonts/Open-Sans-600/Open-Sans-600.woff") format("woff"), url("/fonts/Open-Sans-600/Open-Sans-600.ttf") format("truetype"), url("/fonts/Open-Sans-600/Open-Sans-600.svg#OpenSans") format("svg"); }

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/Open-Sans-700/Open-Sans-700.eot");
  src: url("/fonts/Open-Sans-700/Open-Sans-700.eot?#iefix") format("embedded-opentype"), local("Open Sans Bold"), local("Open-Sans-700"), url("/fonts/Open-Sans-700/Open-Sans-700.woff2") format("woff2"), url("/fonts/Open-Sans-700/Open-Sans-700.woff") format("woff"), url("/fonts/Open-Sans-700/Open-Sans-700.ttf") format("truetype"), url("/fonts/Open-Sans-700/Open-Sans-700.svg#OpenSans") format("svg"); }

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: normal;
  src: url("/fonts/Open-Sans-800/Open-Sans-800.eot");
  src: url("/fonts/Open-Sans-800/Open-Sans-800.eot?#iefix") format("embedded-opentype"), local("Open Sans Extrabold"), local("Open-Sans-800"), url("/fonts/Open-Sans-800/Open-Sans-800.woff2") format("woff2"), url("/fonts/Open-Sans-800/Open-Sans-800.woff") format("woff"), url("/fonts/Open-Sans-800/Open-Sans-800.ttf") format("truetype"), url("/fonts/Open-Sans-800/Open-Sans-800.svg#OpenSans") format("svg"); }

@font-face {
  font-family: 'Play';
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Play-regular/Play-regular.eot");
  src: url("/fonts/Play-regular/Play-regular.eot?#iefix") format("embedded-opentype"), local("Play"), local("Play-regular"), url("/fonts/Play-regular/Play-regular.woff2") format("woff2"), url("/fonts/Play-regular/Play-regular.woff") format("woff"), url("/fonts/Play-regular/Play-regular.ttf") format("truetype"), url("/fonts/Play-regular/Play-regular.svg#Play") format("svg"); }

@font-face {
  font-family: 'Play';
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/Play-700/Play-700.eot");
  src: url("/fonts/Play-700/Play-700.eot?#iefix") format("embedded-opentype"), local("Play Bold"), local("Play-700"), url("/fonts/Play-700/Play-700.woff2") format("woff2"), url("/fonts/Play-700/Play-700.woff") format("woff"), url("/fonts/Play-700/Play-700.ttf") format("truetype"), url("/fonts/Play-700/Play-700.svg#Play") format("svg"); }

@font-face {
  font-family: 'Bitter-700';
  src: url("../fonts/Bitter-700/Bitter-700.eot") format("embedded-opentype"), url("../fonts/Bitter-700/Bitter-700.svg") format("svg"), url("../fonts/Bitter-700/Bitter-700.ttf") format("truetype"), url("../fonts/Bitter-700/Bitter-700.woff") format("woff"); }

@font-face {
  font-family: 'Bitter-italic';
  src: url("../fonts/Bitter-italic/Bitter-italic.eot") format("embedded-opentype"), url("../fonts/Bitter-italic/Bitter-italic.svg") format("svg"), url("../fonts/Bitter-italic/Bitter-italic.ttf") format("truetype"), url("../fonts/Bitter-italic/Bitter-italic.woff") format("woff"); }

@font-face {
  font-family: 'Bitter-regular';
  src: url("../fonts/Bitter-regular/Bitter-regular.eot") format("embedded-opentype"), url("../fonts/Bitter-regular/Bitter-regular.svg") format("svg"), url("../fonts/Bitter-regular/Bitter-regular.ttf") format("truetype"), url("../fonts/Bitter-regular/Bitter-regular.woff") format("woff"); }

/*Global variables tauron*/
/*Mixins tauron*/
/*Common styles*/
body {
  padding-top: 0 !important;
  font-family: "Poppins", sans-serif; }

html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important; }

.row, section {
  padding: 0 !important;
  margin: 0 !important; }

/************************************************Loader******************************************/
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #ff6a00;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s; }

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0; }
  to {
    bottom: 0px;
    opacity: 1; } }

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }

#myDiv {
  display: none;
  text-align: center; }

/************************************************Header section******************************************/
#header {
  min-height: 100vh;
  background-color: #c44c30;
  background: url("img/Mock02.jpg") no-repeat center center fixed;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url("img/Mock02.jpg");
  /*background-image: -webkit-linear-gradient(to bottom, rgba(0,0,0,0), rgba(255, 106, 0, 0.4)), url('img/Mock02.jpg');
    background-image: -o-linear-gradient(to bottom, rgba(0,0,0,0), rgba(255, 106, 0, 0.4)), url('img/Mock02.jpg');
    background-image: -moz-linear-gradient(to bottom, rgba(0,0,0,0), rgba(255, 106, 0, 0.4)), url('img/Mock02.jpg');*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center; }
  #header .image {
    display: table;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    display: block; }
    #header .image img {
      max-width: 460px;
      display: table;
      margin-left: auto;
      margin-right: auto; }
      @media screen and (max-width: 1440px) {
        #header .image img {
          max-width: 440px; } }
      @media screen and (max-width: 1440px) {
        #header .image img {
          max-width: 400px; } }
      @media screen and (max-width: 525px) {
        #header .image img {
          max-width: 300px; } }
      @media screen and (max-width: 375px) {
        #header .image img {
          max-width: 200px; } }
    #header .image h2 {
      margin: 0;
      color: #fff;
      font-family: "Poppins", sans-serif;
      padding-top: 10px;
      padding-bottom: 15px;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
      font-size: 4.5em; }
      @media screen and (max-width: 1440px) {
        #header .image h2 {
          font-size: 4em;
          padding-top: 10px;
          padding-bottom: 15px; } }
      @media screen and (max-width: 1024px) {
        #header .image h2 {
          font-size: 3.5em; } }
      @media screen and (max-width: 768px) {
        #header .image h2 {
          font-size: 3em; } }
      @media screen and (max-width: 525px) {
        #header .image h2 {
          font-size: 1.8em;
          line-height: 30px;
          padding-top: 10px;
          padding-bottom: 10px; } }
    #header .image h3 {
      margin: 0;
      color: #fff;
      font-family: "Poppins", sans-serif;
      padding-top: 0;
      padding-bottom: 25px;
      padding-left: 20px;
      padding-right: 20px;
      font-weight: 400;
      text-align: center;
      font-size: 2.2em;
      letter-spacing: 0.5px; }
      @media screen and (max-width: 1440px) {
        #header .image h3 {
          font-size: 2em; } }
      @media screen and (max-width: 1024px) {
        #header .image h3 {
          font-size: 1.8em; } }
      @media screen and (max-width: 768px) {
        #header .image h3 {
          font-size: 1.8em; } }
      @media screen and (max-width: 525px) {
        #header .image h3 {
          font-size: 1.4em; } }
    #header .image h4 {
      margin: 0;
      color: #fff;
      font-family: "Poppins", sans-serif;
      padding-top: 80px;
      padding-bottom: 15px;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
      font-size: 1.2em;
      letter-spacing: 0.8px; }
      @media screen and (max-width: 768px) {
        #header .image h4 {
          padding-top: 20px;
          padding-bottom: 15px;
          font-size: 1.1em; } }
      @media screen and (max-width: 525px) {
        #header .image h4 {
          padding-top: 0;
          padding-bottom: 15px;
          font-size: 1em; } }
    #header .image a {
      color: #fff; }
    #header .image .fa {
      color: #fff;
      display: table;
      margin-left: auto;
      margin-right: auto;
      padding-top: 0;
      padding-bottom: 5px;
      font-size: 2.4em; }
      @media screen and (max-width: 768px) {
        #header .image .fa {
          font-size: 2em; } }
  #header .inputs {
    padding-top: 10px;
    padding-bottom: 10px;
    display: table;
    margin-left: auto;
    margin-right: auto; }
    #header .inputs input[type="text"] {
      min-width: 300px;
      margin-top: 10px;
      padding-top: 12px;
      padding-bottom: 9px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 40px;
      border-color: transparent; }
      @media screen and (max-width: 525px) {
        #header .inputs input[type="text"] {
          padding-top: 9px;
          padding-bottom: 3px;
          min-width: 250px; } }
      @media screen and (max-width: 375px) {
        #header .inputs input[type="text"] {
          min-width: 180px; } }
    #header .inputs input[type="email"] {
      min-width: 300px;
      margin-top: 10px;
      padding-top: 12px;
      padding-bottom: 9px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 40px;
      border-color: transparent;
      color: #333; }
      @media screen and (max-width: 525px) {
        #header .inputs input[type="email"] {
          padding-top: 9px;
          padding-bottom: 3px;
          min-width: 250px; } }
      @media screen and (max-width: 375px) {
        #header .inputs input[type="email"] {
          min-width: 180px; } }
    #header .inputs button[type="button"] {
      margin-top: 10px;
      min-width: 300px;
      background-color: #ff6a00;
      color: #fff;
      border: none;
      border-radius: 40px;
      font-size: 1.7em;
      letter-spacing: 0.3px;
      padding-top: 5px;
      padding-bottom: 3px; }
      @media screen and (max-width: 525px) {
        #header .inputs button[type="button"] {
          padding-top: 5px;
          padding-bottom: 3px;
          font-size: 1.5em;
          min-width: 250px; } }
      @media screen and (max-width: 375px) {
        #header .inputs button[type="button"] {
          min-width: 220px; } }
    #header .inputs #errors {
      color: #fff;
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 5px;
      padding-right: 5px;
      border-radius: 10px;
      position: relative;
      top: 5px;
      font-size: 0.8em;
      letter-spacing: 0.3px; }

button, input, select, select > input[type="button"], textarea {
  -moz-appearance: none !important; }

