﻿@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Open-Sans-regular/Open-Sans-regular.eot');
    src: url('/fonts/Open-Sans-regular/Open-Sans-regular.eot?#iefix') format('embedded-opentype'), local('Open Sans'), local('Open-Sans-regular'), url('/fonts/Open-Sans-regular/Open-Sans-regular.woff2') format('woff2'), url('/fonts/Open-Sans-regular/Open-Sans-regular.woff') format('woff'), url('/fonts/Open-Sans-regular/Open-Sans-regular.ttf') format('truetype'), url('/fonts/Open-Sans-regular/Open-Sans-regular.svg#OpenSans') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    src: url('/fonts/Open-Sans-600/Open-Sans-600.eot');
    src: url('/fonts/Open-Sans-600/Open-Sans-600.eot?#iefix') format('embedded-opentype'), local('Open Sans Semibold'), local('Open-Sans-600'), url('/fonts/Open-Sans-600/Open-Sans-600.woff2') format('woff2'), url('/fonts/Open-Sans-600/Open-Sans-600.woff') format('woff'), url('/fonts/Open-Sans-600/Open-Sans-600.ttf') format('truetype'), url('/fonts/Open-Sans-600/Open-Sans-600.svg#OpenSans') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/Open-Sans-700/Open-Sans-700.eot');
    src: url('/fonts/Open-Sans-700/Open-Sans-700.eot?#iefix') format('embedded-opentype'), local('Open Sans Bold'), local('Open-Sans-700'), url('/fonts/Open-Sans-700/Open-Sans-700.woff2') format('woff2'), url('/fonts/Open-Sans-700/Open-Sans-700.woff') format('woff'), url('/fonts/Open-Sans-700/Open-Sans-700.ttf') format('truetype'), url('/fonts/Open-Sans-700/Open-Sans-700.svg#OpenSans') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 800;
    font-style: normal;
    src: url('/fonts/Open-Sans-800/Open-Sans-800.eot');
    src: url('/fonts/Open-Sans-800/Open-Sans-800.eot?#iefix') format('embedded-opentype'), local('Open Sans Extrabold'), local('Open-Sans-800'), url('/fonts/Open-Sans-800/Open-Sans-800.woff2') format('woff2'), url('/fonts/Open-Sans-800/Open-Sans-800.woff') format('woff'), url('/fonts/Open-Sans-800/Open-Sans-800.ttf') format('truetype'), url('/fonts/Open-Sans-800/Open-Sans-800.svg#OpenSans') format('svg');
}

@font-face {
    font-family: 'Play';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Play-regular/Play-regular.eot');
    src: url('/fonts/Play-regular/Play-regular.eot?#iefix') format('embedded-opentype'), local('Play'), local('Play-regular'), url('/fonts/Play-regular/Play-regular.woff2') format('woff2'), url('/fonts/Play-regular/Play-regular.woff') format('woff'), url('/fonts/Play-regular/Play-regular.ttf') format('truetype'), url('/fonts/Play-regular/Play-regular.svg#Play') format('svg');
}

@font-face {
    font-family: 'Play';
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/Play-700/Play-700.eot');
    src: url('/fonts/Play-700/Play-700.eot?#iefix') format('embedded-opentype'), local('Play Bold'), local('Play-700'), url('/fonts/Play-700/Play-700.woff2') format('woff2'), url('/fonts/Play-700/Play-700.woff') format('woff'), url('/fonts/Play-700/Play-700.ttf') format('truetype'), url('/fonts/Play-700/Play-700.svg#Play') format('svg');
}

@font-face {
    font-family: 'Bitter-700';
    src: url('../fonts/Bitter-700/Bitter-700.eot') format('embedded-opentype'), url('../fonts/Bitter-700/Bitter-700.svg') format('svg'), url('../fonts/Bitter-700/Bitter-700.ttf') format('truetype'), url('../fonts/Bitter-700/Bitter-700.woff') format('woff');
}

@font-face {
    font-family: 'Bitter-italic';
    src: url('../fonts/Bitter-italic/Bitter-italic.eot') format('embedded-opentype'), url('../fonts/Bitter-italic/Bitter-italic.svg') format('svg'), url('../fonts/Bitter-italic/Bitter-italic.ttf') format('truetype'), url('../fonts/Bitter-italic/Bitter-italic.woff') format('woff');
}

@font-face {
    font-family: 'Bitter-regular';
    src: url('../fonts/Bitter-regular/Bitter-regular.eot') format('embedded-opentype'), url('../fonts/Bitter-regular/Bitter-regular.svg') format('svg'), url('../fonts/Bitter-regular/Bitter-regular.ttf') format('truetype'), url('../fonts/Bitter-regular/Bitter-regular.woff') format('woff');
}

@import 'https://fonts.googleapis.com/css?family=Poppins:400,600,700';

/*Global variables tauron*/
$mainColor: #c44c30;
$mainColor2: #ff6a00;
$lightgray1: #ececec;
$lightergray1: #f9f9f9;
$fontFam1: 'Poppins', sans-serif;
$fontFam2: 'Open Sans', sans-serif;
$fontFam3: 'Bitter', serif;

/*Mixins tauron*/
@mixin bgColor($x: $mainColor) {
    background-color: $x;
}

@mixin bgImg1($x) {
    background-image: $x;
}

@mixin color($x: #fff) {
    color: $x;
}

@mixin paddLeftRight($x: 5px,$y: 5px) {
    padding-left: $x;
    padding-right: $y;
}

@mixin paddTopBottom($x: 10px,$y: 10px) {
    padding-top: $x;
    padding-bottom: $y;
}

@mixin marginLeftRight($x,$y) {
    margin-left: $x;
    margin-right: $y;
}

@mixin textAlign($x: center) {
    text-align: $x;
}

@mixin lineHeight($x: 18px) {
    line-height: $x;
}

@mixin toUppercase() {
    text-transform: uppercase;
}

@mixin letterSpacing($x: 0.3px) {
    letter-spacing: $x;
}

@mixin borderRadius($x: 10px) {
    border-radius: $x;
}

@mixin fontSize($x) {
    font-size: $x;
}

@mixin setMaxWidth($x: 1000px) {
    max-width: $x;
}

@mixin centerObject {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

@mixin centerObjectBlockMode {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@mixin transition($x: 0.5s) {
    -o-transition: $x;
    -ms-transition: $x;
    -moz-transition: $x;
    -webkit-transition: $x;
    transition: $x;
}

@mixin bigtitles($x: #333) {
    text-align: center;
    @include toUppercase;
    @include letterSpacing(1.5px);
    font-family: $fontFam2;
    color: $x;

    h1 {
        @include fontSize(1.8em);
        font-weight: 800;
        display: inline-block;
        @include textAlign;
        @include bgColor($mainColor);
        @include paddTopBottom(25px,25px);
        @include paddLeftRight(35px,35px);

        @media screen and (max-width: 545px) {
        }
    }
}

@mixin divBgGray() {
    background-color: #333;
}

@mixin contents() {
    @include setMaxWidth(1000px);
    margin: 0 auto;
    @include paddLeftRight(15px,15px);
    @include paddTopBottom(20px,20px);
}

/*Common styles*/

body {
    padding-top: 0 !important;
    font-family: $fontFam1;
}

html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

.row, section {
    padding: 0 !important;
    margin: 0 !important;
}

/************************************************Loader******************************************/
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid $mainColor2;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0;
    }

    to {
        bottom: 0px;
        opacity: 1;
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}

#myDiv {
    display: none;
    text-align: center;
}

/************************************************Header section******************************************/
#header {
    min-height: 100vh;
    @include bgColor();
    background: url('../Content/img/Mock02.jpg') no-repeat center center fixed;
    background-image: linear-gradient(to top, rgba(0,0,0,0.2), rgba(0, 0, 0, 0.9)), url('../Content/img/Mock02.jpg');
    /*background-image: -webkit-linear-gradient(to bottom, rgba(0,0,0,0), rgba(255, 106, 0, 0.4)), url('../Content/img/Mock02.jpg');
    background-image: -o-linear-gradient(to bottom, rgba(0,0,0,0), rgba(255, 106, 0, 0.4)), url('../Content/img/Mock02.jpg');
    background-image: -moz-linear-gradient(to bottom, rgba(0,0,0,0), rgba(255, 106, 0, 0.4)), url('../Content/img/Mock02.jpg');*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;

    .image {
        @include centerObject;
        @include setMaxWidth(100%);
        display: block;

        img {
            max-width: 460px;
            @include centerObject;

            @media screen and (max-width: 1440px) {
                max-width: 440px;
            }

            @media screen and (max-width: 1440px) {
                max-width: 400px;
            }

            @media screen and (max-width: 525px) {
                max-width: 300px;
            }

            @media screen and (max-width: 375px) {
                max-width: 200px;
            }
        }

        h2 {
            margin: 0;
            @include color(#fff);
            font-family: $fontFam1;
            @include paddTopBottom(10px,15px);
            @include paddLeftRight(20px,20px);
            @include textAlign;
            @include fontSize(4.5em);

            @media screen and (max-width: 1440px) {
                @include fontSize(4.0em);
                @include paddTopBottom(10px,15px);
            }

            @media screen and (max-width: 1024px) {
                @include fontSize(3.5em);
            }

            @media screen and (max-width: 768px) {
                @include fontSize(3.0em);
            }

            @media screen and (max-width: 525px) {
                @include fontSize(1.8em);
                line-height: 30px;
                @include paddTopBottom(10px,10px);
            }
        }

        h3 {
            margin: 0;
            @include color;
            font-family: $fontFam1;
            @include paddTopBottom(0,25px);
            @include paddLeftRight(20px,20px);
            font-weight: 400;
            @include textAlign;
            @include fontSize(2.2em);
            @include letterSpacing(0.5px);

            @media screen and (max-width: 1440px) {
                @include fontSize(2.0em);
            }

            @media screen and (max-width: 1024px) {
                @include fontSize(1.8em);
            }

            @media screen and (max-width: 768px) {
                @include fontSize(1.8em);
            }

            @media screen and (max-width: 525px) {
                @include fontSize(1.4em);
            }
        }

        h4 {
            margin: 0;
            @include color(#fff);
            font-family: $fontFam1;
            @include paddTopBottom(80px,15px);
            @include paddLeftRight(20px,20px);
            @include textAlign;
            @include fontSize(1.2em);
            @include letterSpacing(0.8px);

            @media screen and (max-width: 768px) {
                @include paddTopBottom(20px,15px);
                @include fontSize(1.1em);
            }

            @media screen and (max-width: 525px) {
                @include paddTopBottom(0,15px);
                @include fontSize(1em);
            }
        }

        a {
            @include color(#fff);
        }

        .fa {
            @include color(#fff);
            @include centerObject;
            @include paddTopBottom(0,5px);
            @include fontSize(2.4em);

            @media screen and (max-width: 768px) {
                @include fontSize(2em);
            }
        }
    }

    .inputs {
        @include paddTopBottom(10px,10px);
        @include centerObject;

        input[type="text"] {
            min-width: 300px;
            margin-top: 10px;
            @include paddTopBottom(12px,9px);
            @include paddLeftRight(20px,20px);
            @include borderRadius(40px);
            border-color: rgba(0,0,0,0);

            @media screen and (max-width: 525px) {
                @include paddTopBottom(9px,3px);
                min-width: 250px;
            }

            @media screen and (max-width: 375px) {
                min-width: 180px;
            }
        }

        input[type="email"] {
            min-width: 300px;
            margin-top: 10px;
            @include paddTopBottom(12px,9px);
            @include paddLeftRight(20px,20px);
            @include borderRadius(40px);
            border-color: rgba(0,0,0,0);
            color: #333;

            @media screen and (max-width: 525px) {
                @include paddTopBottom(9px,3px);
                min-width: 250px;
            }

            @media screen and (max-width: 375px) {
                min-width: 180px;
            }
        }

        button[type="button"] {
            margin-top: 10px;
            min-width: 300px;
            @include bgColor($mainColor2);
            @include color;
            border: none;
            @include borderRadius(40px);
            @include fontSize(1.7em);
            @include letterSpacing;
            @include paddTopBottom(5px,3px);

            @media screen and (max-width: 525px) {
                @include paddTopBottom(5px,3px);
                @include fontSize(1.5em);
                min-width: 250px;
            }

            @media screen and (max-width: 375px) {
                min-width: 220px;
            }
        }

        #errors {
            @include color();
            @include paddTopBottom(3px,3px);
            @include paddLeftRight(5px,5px);
            @include borderRadius();
            position: relative;
            top: 5px;
            @include fontSize(0.8em);
            @include letterSpacing;
        }
    }
}


button, input, select, select > input[type="button"], textarea {
  -moz-appearance: none !important;
}